#overlay {
    display: none;
}
.btn-icon .icon, .dt-buttons .btn-secondary .icon {
    width: 1.75rem;
}
td .ni-check-thick {
    color: #00c100;
    /* font-size: 18px; */
}
td .ni-alert-fill {
    color: orange;
    /* font-size: 18px; */
}
td .ni-eye {
    color: blue;
}
td .ni-edit-alt {
    color: lightskyblue;
}
td .ni-trash {
    color: red;
}
td .ni-sign-inr {
    color: #ffe000;
}
#referenceTable .ni-emails-fill,
#referenceTable .ni-call,
#referenceTable .ni-emails,
#referenceTable .ni-whatsapp,
#referenceTable .ni-mail,
#referenceTable .ni-cards,
#referenceTable .ni-thumbs-up {
    font-size: 20px;
}
.table-bordered td {
    padding: 0.5rem;
    vertical-align: middle;
}
.table td:last-child {
    padding-right: 0.75rem;
}
.user-avatar img{
    width: 100%;
}
.dataTables_filter {
    display: flex;
    margin-bottom: 10px;
}
.dataTables_filter input {
    padding: 17px;
    margin: 0 10px;
    width: 25%;
}
.dt-buttons {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-wrap: wrap;
    float: right;
}
.dt-buttons .dt-button {
    position: relative;
    flex: 1 1 auto;
    display: inline-flex;
    font-family: Nunito, sans-serif;
    font-weight: 700;
    color: #526484;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid #dbdfea;
    padding: 0.4375rem 0;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.dt-buttons .dt-button::before {
    font-size: 1.125rem;
    font-weight: normal;
    font-style: normal;
    width: 2.125rem;
    font-family: "Nioicon";
}
/* .dt-buttons .dt-button span {
    display: none;
} */
.dataTables_paginate {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 4px;
    margin: 2px 0;
    justify-content: flex-end;
}
.dataTables_paginate .paginate_button.disabled,
.dataTables_paginate .paginate_button.disabled {
    color: #dbdfea;
    pointer-events: none;
    background-color: #fff;
    border-color: #e5e9f2;
}
.dataTables_paginate .paginate_button.first,
.dataTables_paginate .paginate_button.previous,
.dataTables_paginate .paginate_button.next,
.dataTables_paginate .paginate_button.last {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.dataTables_paginate .paginate_button {
    font-size: 0.8125rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: calc(1rem + 1.125rem + 2px);
    position: relative;
    padding: 0.5625rem 0.625rem;
    line-height: 1rem;
    border: 1px solid #e5e9f2;
    cursor: pointer;
}
.dataTables_paginate .paginate_button.current {
    z-index: 3;
    color: #fff;
    background-color: #6576ff;
    border-color: #6576ff;
}
#viewCompany1 .modal-dialog {
    width: 90%;
    max-width: 100%;
}
