#overlay {
    display: none;
}
.hidden {
    display: none;
}
.btn-icon .icon, .dt-buttons .btn-secondary .icon {
    width: 1.75rem;
}
td .ni-check-thick {
    color: #00c100;
    /* font-size: 18px; */
}
td .ni-alert-fill {
    color: orange;
    /* font-size: 18px; */
}
td .ni-eye {
    color: blue;
}
td .ni-edit-alt {
    color: lightskyblue;
}
td .ni-trash {
    color: red;
}
td .ni-sign-inr {
    color: #ffe000;
}
.language-item.fy .ni-check-thick {
    font-size: 1rem;
    color: #00c100;
}
#referenceTable .ni-inbox-out-fill,
#referenceTable .ni-call,
#referenceTable .ni-emails,
#referenceTable .ni-whatsapp,
#referenceTable .ni-mail,
#referenceTable .ni-cards,
#referenceTable .ni-thumbs-up {
    font-size: 20px;
}
.table-bordered td {
    padding: 0.5rem;
    vertical-align: middle;
}
.table td:last-child {
    padding-right: 0.75rem;
}
.user-avatar img{
    width: 100%;
}
.dataTables_filter {
    display: inline-block;
    margin-bottom: 10px;
}
.dataTables_filter input {
    padding: 17px;
    margin: 0 10px;
    width: 25%;
}
.dt-buttons {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-wrap: wrap;
    float: right;
}
.dt-buttons .dt-button {
    position: relative;
    flex: 1 1 auto;
    display: inline-flex;
    font-family: Nunito, sans-serif;
    font-weight: 700;
    color: #526484;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid #dbdfea;
    padding: 0.4375rem 0;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.dt-buttons .dt-button::before {
    font-size: 1.125rem;
    font-weight: normal;
    font-style: normal;
    width: 2.125rem;
    font-family: "Nioicon";
}
/* .dt-buttons .dt-button span {
    display: none;
} */
.dataTables_paginate {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 4px;
    margin: 2px 0;
    justify-content: flex-end;
}
.dataTables_paginate .paginate_button.disabled,
.dataTables_paginate .paginate_button.disabled {
    color: #dbdfea;
    pointer-events: none;
    background-color: #fff;
    border-color: #e5e9f2;
}
.dataTables_paginate .paginate_button.first,
.dataTables_paginate .paginate_button.previous,
.dataTables_paginate .paginate_button.next,
.dataTables_paginate .paginate_button.last {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.dataTables_paginate .paginate_button {
    font-size: 0.8125rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: calc(1rem + 1.125rem + 2px);
    position: relative;
    padding: 0.5625rem 0.625rem;
    line-height: 1rem;
    border: 1px solid #e5e9f2;
    cursor: pointer;
}
.dataTables_paginate .paginate_button.current {
    z-index: 3;
    color: #fff;
    background-color: #6576ff;
    border-color: #6576ff;
}
#viewCompany1 .modal-dialog {
    width: 90%;
    max-width: 100%;
}

.invalid {
    color: #e85347;
    font-size: 11px;
    font-style: italic;
}

.multiselect {
    height: calc(2.125rem + 2px);
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 400;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    transition: all 0.3s;
    min-height: 36px;
    display: inline-flex;
    flex-wrap: wrap;
}

.multiselect__tag-icon:after {
    color: #526484;
}

.multiselect__tag {
    color: #526484;
    background: #ebeef2;
    font-size: 13px;
    font-family: Roboto, sans-serif;
}

.multiselect__tags {
    padding: 7px 16px;
    font-size: 13px;
    min-height: 36px;
    border: 1px solid #dbdfea;
    width: 100%;
}

.multiselect__placeholder {
    margin-bottom: 0;
    padding-top: 0;
}

.multiselect__select {
    height: calc(2.125rem + 2px);
    position: absolute;
    top: 0;
    right: 0;
    width: calc(2.125rem + 2px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.multiselect__select:before {
    display: none;
}

.multiselect .multiselect__select:after {
    font-family: "Nioicon";
    content: "";
    line-height: 1;
}

.multiselect.multiselect--active .multiselect__input,
.multiselect__single {
    font-size: 13px;
    padding: 0;
    margin-bottom: 0;
    width: 98% !important;
}

.multiselect__content-wrapper {
    border-top: 1px solid #dbdfea;
    padding: 6px;
    top: 36px;
    z-index: 1000;

}

.multiselect__option--highlight {
    background: #ebeef2;
    border-radius: 4px;
    color: #526484;
}

.multiselect__element {
    margin-bottom: 0.125rem;
}

.multiselect__option--highlight:after,
.multiselect__option:after {
    display: none;
}

.multiselect__option--selected.multiselect__option--highlight {
    background: #f3f3f3;
    color: #35495e;
}

.multiselect__option--selected {
    font-weight: 500;
}

.multiselect__tags-wrap {
    display: inline-flex;
}

.multiselect--above .multiselect__content-wrapper {
    border: 1px solid #e8e8e8;
    bottom: unset;

}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
    background: #ebeef2;
}

.multiselect__tag-icon:focus:after,
.multiselect__tag-icon:hover:after {
    color: #526484;
}
/* .multiselect--active.multiselect .multiselect__select {
    top: 5px;
} */
.w-5 { width: 5% !important; }

.w-10 { width: 10% !important; }

.position-sticky-top {
    position: sticky;
    top: 0;
}

.position-sticky-bottom {
    position: sticky;
    bottom: 0;
}

/* Scrollbar start */
/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6576ff;
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3f54f3;
}
/* Scrollbar end */
